<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundleDisplayName</key>
    <string>QuikRide</string>
    <key>CFBundleIdentifier</key>
    <string>com.msctek.quikride</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleName</key>
    <string>QuikRide</string>
    <key>XSAppIconAssets</key>
    <string>Assets.xcassets/AppIcon.appiconset</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>location</string>
    </array>
    <key>NSCalendarsUsageDescription</key>
    <string>Needs Calendar Permission</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>QuikRide uses your location to help pick you up!</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>QuikRide uses your location to help pick you up!</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>QuikRide uses your location to help pick you up!</string>
    <key>NSCameraUsageDescription</key>
    <string>Please allow access to the camera to scan barcodes</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>UIAppFonts</key>
    <array>
      <string>fa-brands-400.ttf</string>
      <string>fa-solid-900.ttf</string>
    </array>
  </dict>
</plist>